@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(./quiz_image/quiz-background.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    width: 9%;
    padding: 1%;
    padding-right: 0;
}

.home__home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__home img {
    width: 35%;
}

.home__home a {
    font-size: 1.3rem;
    color: white;
    font-weight: 600;
    padding: .5% 1.5%;
    width: auto;
    text-align: center;
    background-color: #ECD74E;
    border-radius: 200px;
    text-decoration: none;
    margin-top: 1%;
}

.home__home a:hover {
    color: #ECD74E;
    background-color: white;
}

/* ::::::::::::::::::::::::::::::::: */

.index__home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(255, 252, 252, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.index__home img {
    width: 48%;
}

.index__home .play__home {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 32%;
}

.index__home .play__home h2 {
    font-size: 1.5rem;
    color: #2D7ABC;
    background-color: white;
    border-radius: 200px;
    padding: 2% 5%;
    font-weight: bolder;
    margin-bottom: 8%;
}

.index__home .play__home .header__nav ul li {
    padding: 5px 10px;
    margin: 1%;
}

.index__home .play__home .header__nav ul li a {
    color: black;
    font-weight: 600;
}

.index__home .play__home .header__nav ul li:hover {
    background-color: #ECD74E;
    border-radius: 5px;
}

/* .index__home .goback_home{
    font-size: 1.3rem;
    color: white;
    font-weight: 600;
    padding: 1% 1.5%;
    text-align: center;
    background-color: #ECD74E;
    border-radius: 200px;
    text-decoration: none;
    margin-top: 2%;
}

.index__home .goback_home:hover{
    color: #ECD74E;
    background-color: white;
} */

/* ::::::::::::::::::::: */

.quiz-container {
    font-size: 1.1rem;
    color: white;
    margin: 4% auto;
    padding: 15px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 252, 252, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

#scores {
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
    padding: .7% 2%;
    background-color: #ECD74E;
    border-radius: 25px;
    align-self: flex-end;
}

#question {
    margin: 2%;
    text-align: center;
}

#options {
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

.button__style {
    color: white;
    background-color: #2D7ABC;
}

button {
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
    color: #000000;
    border: 0.01rem solid black;
    border-radius: 5px;
    cursor: pointer;
    margin: 2%;
    min-width: 200px;
}

button:hover {
    border: 0.1rem solid black;
}

button.correct {
    color: white;
    background-color: #64ff65;
    border: none;
}

button.incorrect {
    color: white;
    background-color: #ff6868;
    border: none;
}

@media screen and (max-width: 1024px) and (min-width: 468px) {
    .logo {
        width: 15%;
    }

    .home__home img {
        width: 70%;
        margin-top: 20%;
    }

    .home__home a {
        font-size: 2rem;
        font-weight: 400;
        padding: .1% 4%;
        margin-top: 15%;
    }

    /* ::::::::::::::::::::: */

    .quiz-container{
        font-size: 1.6rem;
    }

    .quiz-container h2 {
        font-size: 1.6rem;
    }

    #scores {
        font-size: 1rem;
        font-weight: 500;
        padding: .7% 2%;
    }

    #question {
        margin: 2%;
    }

    #options {
        font-size: .9rem;
        min-width: 500px;
    }

    button {
        font-size: 1.1rem;
        padding: 10px 20px;
        min-width: 200px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        width: 20%;
    }

    .home__home img {
        width: 80%;
        margin-top: 30%;
    }

    .home__home a {
        font-size: 1.5rem;
        font-weight: 400;
        padding: .1% 4%;
        margin-top: 20%;
    }

    /* ::::::::::::::::::::: */

    .quiz-container{
        font-size: .8rem;
    }

    .quiz-container h2 {
        font-size: .9rem;

    }

    #scores {
        font-size: .8rem;
        font-weight: 500;
        padding: .7% 2%;
    }

    #question {
        margin: 2%;
    }

    #options {
        font-size: .9rem;
        min-width: 200px;
    }

    button {
        font-size: .6rem;
        padding: 10px 20px;
        min-width: 100px;
    }
}