@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(./quiz_image/quiz-background.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* HOME PAGE */

.logo {
    width: 9%;
    padding: 1%;
}

.home__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.home__container img {
    width: 35%;
}

.home__container a {
    font-size: 1.3rem;
    color: white;
    font-weight: 600;
    padding: .5% 1.5%;
    min-width: 10%;
    text-align: center;
    background-color: #F8BD0F;
    border-radius: 200px;
    margin-top: 1%;
}

.home__container a:hover {
    color: #F8BD0F;
    background-color: white;
}

/* RULES PAGE */

.rules__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background-color: rgba(255, 252, 252, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    width: 70%;
}

.rules__container .centenu__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
    margin: 2% 10%;
}

.rules__container .centenu__container img {
    width: 60%;
}

.rules__container .centenu__container .rule__line {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.rules__container .centenu__container .rule__line h2 {
    font-size: 1.5rem;
    color: #2D7ABC;
    text-shadow: 0 1px 5px rgba(255, 255, 255, 0.5);
    border-radius: 200px;
    font-weight: bolder;
    margin-bottom: 5%;
    width: max-content;
}

.rules__container .centenu__container .rule__line ul li {
    padding: 2%;
    color: black;
    font-size: .8rem;
    font-weight: 600;
    width: max-content;
}

.rules__container .centenu__container .rule__line ul li:hover {
    background-color: #F8BD0F;
    border-radius: 5px;
}

.rules__container .quite{
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
    padding: .5% 1.5%;
    text-align: center;
    background-color: #ec4e4e;
    border-radius: 200px;
}

.rules__container .quite:hover{
    color: #ec4e4e;
    background-color: white;
}

/* QUIZE PAGE */

.quiz-container {
    font-size: 1.2rem;
    color: black;
    margin: 0 auto;
    padding: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 252, 252, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quiz-container #scores {
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
    padding: .5% 1.5%;
    background-color: #F8BD0F;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    align-self: flex-end;
}

.quiz-container #question {
    font-size: 1.1rem;
    margin: 2%;
    text-align: center;
}

.quiz-container #options {
    display: flex;
    flex-direction: column;
    min-width: 1000px;
}

.quiz-container button {
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
    color: #000000;
    border: 0.01rem solid black;
    border-radius: 5px;
    cursor: pointer;
    margin: 1.5%;
    min-width: 200px;
}

.quiz-container button:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 3);
}

.quiz-container .button__style {
    color: white;
    background-color: #2D7ABC;
}

.quiz-container button.correct {
    color: white;
    background-color: #4CAF4F;
}

.quiz-container button.incorrect {
    color: white;
    background-color: #E53835;
}

@media screen and (max-width: 1024px) and (min-width: 480px) {
    .logo {
        width: 15%;
    }

    /* HOME PAGE */

    .home__container img {
        width: 80%;
        margin: 5%;
    }

    .home__container a {
        font-size: 2rem;
        padding: .5% 1.5%;
        margin-top: 5%;
        min-width: 22%;
    }

    /* RULES PAGE */

    .rules__container {
        gap: 10px;
        width: 80%;
    }

    .rules__container .centenu__container{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .rules__container .centenu__container img {
        width: 70%;
        margin: 10%;
    }
    
    .rules__container .centenu__container .rule__line h2 {
        font-size: 2.3rem;
        font-weight: bolder;
    }
    
    .rules__container .centenu__container .rule__line ul li {
        font-size: 1.2rem;
        padding: 2%;
        font-weight: 500;
        width: max-content;
    }
    
    .rules__container .quite{
        font-size: 1.5rem;
        font-weight: 600;
        margin: 3%;
    }

    /* QUIZE PAGE */

    .quiz-container{
        font-size: 1.5rem;
    }

    .quiz-container h2 {
        font-size: 1rem;
    }

    .quiz-container #scores {
        font-size: 1rem;
        font-weight: 500;
        padding: .5% 1.5%;
    }

    .quiz-container #question {
        margin: 2%;
    }

    .quiz-container #options {
        font-size: .9rem;
        min-width: 800px;
    }

    .quiz-container button {
        font-size: 1.1rem;
        padding: 10px 20px;
        min-width: 200px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        width: 20%;
    }

    /* HOME PAGE */

    .home__container img {
        width: 80%;
    }

    .home__container a {
        font-size: 1rem;
        font-weight: 00;
        padding: 1% 3%;
        margin-top: 5%;
    }

    /* RULES PAGE */

    .rules__container {
        gap: 5px;
        width: 90%;
        padding: 2%;
    }

    .rules__container .centenu__container{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .rules__container .centenu__container img {
        width: 95%;
        margin: 10%;
    }

    .rules__container .centenu__container .rule__line h2 {
        font-size: 1.1rem;
        font-weight: bolder;
        margin-bottom: 3%;
    }
    
    .rules__container .centenu__container .rule__line ul li {
        padding: 2%;
        font-size: .7rem;
        font-weight: 500;
        width: max-content;
    }
    
    .rules__container .quite{
        margin: 5%;
        font-size: 1rem;
        font-weight: 600;
    }

    /* QUIZE PAGE */

    .quiz-container{
        font-size: 1rem;
    }

    .quiz-container #scores {
        font-size: .9rem;
        font-weight: 500;
        padding: .5% 1.5%;
    }

    .quiz-container #question {
        font-size: .8rem;
        margin: 2%;
    }

    .quiz-container #options {
        min-width: 340px;
    }

    .quiz-container button {
        font-size: .8rem;
        padding: 10px 20px;
        min-width:125px;
    }
}